body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #1e1f29;
    color: white;
}


.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scoreboard {
    display: flex;
    gap: 20px;
}

.score-item span {
    font-weight: bold;
}

.game-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.player-side, .computer-side {
    background: #2a2c39;
    padding: 20px;
    border-radius: 12px;
    width: 40%;
    text-align: center;
}

.choices {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.choice {
    width: 200px;
    height: 200px;
    background: transparent;
    border-radius: 10px;
    overflow: hidden;
}

.choice img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s ease;
}

.human img:hover {
    transform: scale(1.5);
}

.log-container {
    margin-top: 40px;
    text-align: center;
}

.log-box {
    background: #2a2c39;
    padding: 20px;
    border-radius: 12px;
    width: 70%;
    margin: 0 auto;
    height: 220px;
    overflow-y: auto;
    font-size: 18px;
    line-height: 1.6;
    border: 2px solid #3a3c4a;
}

.log-box ::-webkit-scrollbar{
    width: 10px;
}
.log-box::-webkit-scrollbar-thumb {
    background: #505268;
    border-radius: 8px;
}
